@charset "UTF-8";

* {
    font-family: Helvetica;
}

body {
    background-image: linear-gradient(90deg, rgba(19 ,18 ,23 ,255));
}

h1 {
    color: #dbdbdb;
    text-align: center;
    text-shadow: 1px 1px 0px rgba(19, 33, 44, 0.55);
}

h2 {
    color:#dbdbdb;
}

h3 {
    color:#dbdbdb;
}

main {
    background-color: #45434e;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(51, 51, 55, 0.351);
}

p {
    text-align: justify;
    color: #acacac;
}